docs/
plans/*.svg
plans/*.ifc
plans/*.png
plans/*.gltf
plans/*.pdf
temp/*.pdf
temp/*.xls
temp/*.xlsx
temp/*.png
temp/*.jpg
temp/*.csv
temp/*.zip
temp/treexml/*.xml
temp/qrcode/*.png
asset_doc/
system/logs/*.php
system/application/config/config.php
system/application/config/database.php
vendor/